#### This file cleans up the misc. values in our dataframe, and converts columns to the correct type since some columns have mixed value types (e.g. '1' vs 1). This also helps us save on memory. We can figure out what to do with the missing values later.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/combined_data.csv')

C:\Users\jylis\AppData\Local\Temp\ipykernel_19296\1196999976.py:1: DtypeWarning: Columns (1,2,5,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/combined_data.csv')

In [11]:
df.dtypes

C_YEAR     int64
C_MNTH    object
C_WDAY    object
C_HOUR    object
C_SEV      int64
C_VEHS    object
C_CONF    object
C_RCFG    object
C_WTHR    object
C_RSUR    object
C_RALN    object
C_TRAF    object
V_ID      object
V_TYPE    object
V_YEAR    object
P_ID      object
P_SEX     object
P_AGE     object
P_PSN     object
P_ISEV    object
P_SAFE    object
P_USER    object
C_CASE     int64
dtype: object

In [12]:
df.shape

(4677921, 23)

In [26]:
# some helper functions

def convert_to_nan(column: str, unknown_strings: list[str]):
    """Convert unknown values from string (e.g. "UU") to NaN."""
    df[column] = df[column].replace(unknown_strings, pd.NA)

def convert_to_int(column):
    """Convert column to specified dtype."""
    df[column] = pd.to_numeric(df[column], errors='coerce').astype('Int64')

In [ ]:
convert_to_nan('C_MNTH', ['UU']) # month
convert_to_int('C_MNTH')
df.C_MNTH.unique()

<IntegerArray>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, <NA>]
Length: 13, dtype: Int64

In [ ]:
convert_to_nan('C_WDAY', ['U']) # day of week
convert_to_int('C_WDAY')
df.C_WDAY.unique()

<IntegerArray>
[1, 2, 3, 4, 5, 6, 7, <NA>]
Length: 8, dtype: Int64

In [34]:
convert_to_nan('C_HOUR', ['UU']) # hour of day
convert_to_int('C_HOUR')
df.C_HOUR.unique()

<IntegerArray>
[  18,   19,   12,   13,   11,   15,    9,   20,   17,    8,   14,    7,   10,
   16,   22, <NA>,   21,    0,    2,    6,    4,    5,   23,    1,    3]
Length: 25, dtype: Int64

In [ ]:
convert_to_nan('C_VEHS', ['UU', '**']) # vehicles involved
convert_to_int('C_VEHS')
df.C_VEHS.unique()

<IntegerArray>
[   1,    2,    4,    3,    5,    6, <NA>,    7,    9,   19,   10,    8,   11,
   14,   77,   28,   15,   18,   38,   16,   12,   13,   17,   32,   21,   22,
   35,   33,   54,   20,   72,   40,   44,   26,   58,   30,   36,   24,   34,
   39,   51,   57,   43,   37,   31,   47,   59,   27,   25,   23,   45,   70]
Length: 52, dtype: Int64

In [39]:
convert_to_nan('C_CONF', ['UU', 'QQ']) # collision configuration
convert_to_int('C_CONF')
df.C_CONF.unique()

<IntegerArray>
[2, 22, 35, 21, <NA>, 3, 33, 31, 32, 4, 6, 1, 5, 23, 24, 41, 34, 36, 25]
Length: 19, dtype: Int64

In [41]:
convert_to_nan('C_RCFG', ['UU', 'QQ']) # collision road configuration
convert_to_int('C_RCFG')
df.C_RCFG.unique()

<IntegerArray>
[<NA>, 2, 3, 1, 4, 6, 5, 7, 8, 9, 10]
Length: 11, dtype: Int64

In [43]:
convert_to_nan('C_WTHR', ['U', 'Q']) # weather
convert_to_int('C_WTHR')
df.C_WTHR.unique()

<IntegerArray>
[1, 2, 6, 4, 3, 5, <NA>, 7]
Length: 8, dtype: Int64

In [45]:
convert_to_nan('C_RSUR', ['U', 'Q']) # road surface
convert_to_int('C_RSUR')
df.C_RSUR.unique()

<IntegerArray>
[3, 5, 1, 4, 2, <NA>, 7, 6, 8, 9]
Length: 10, dtype: Int64

In [48]:
convert_to_nan('C_RALN', ['U', 'Q']) # road alignment
convert_to_int('C_RALN')
df.C_RALN.unique()

<IntegerArray>
[2, 1, 4, 3, <NA>, 5, 6]
Length: 7, dtype: Int64

In [50]:
convert_to_nan('C_TRAF', ['UU', 'QQ']) # traffic control
convert_to_int('C_TRAF')
df.C_TRAF.unique()

<IntegerArray>
[18, <NA>, 1, 3, 6, 11, 16, 4, 5, 15, 8, 2, 13, 7, 17, 9, 10, 12]
Length: 18, dtype: Int64

In [52]:
convert_to_nan('V_ID', ['UU', '*']) # vehicle sequence number
convert_to_int('V_ID')
df.V_ID.unique()

<IntegerArray>
[   1,    2,    3,    4,   99,    5,    6,    7,    8,    9,   10,   11,   12,
   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,   25,
   26,   27,   28,   29,   30,   31,   32,   33,   34,   35,   36,   37,   38,
   39,   40,   41,   42,   43,   44,   45,   46,   47,   48,   49,   50,   51,
   52,   53,   54,   55,   56,   57,   58,   59,   60,   61,   62,   63,   64,
   65,   66,   67,   68,   69,   70,   71,   72,   73,   74,   83,   85,   86,
 <NA>,   75,   76,   77,   79,   81,   87,   89,    0]
Length: 87, dtype: Int64

In [57]:
convert_to_nan('V_TYPE', ['UU', 'QQ', 'NN']) # vehicle type
convert_to_int('V_TYPE')
df.V_TYPE.unique()

<IntegerArray>
[22, 1, 5, 8, 24, 7, <NA>, 6, 19, 11, 20, 17, 9, 21, 16, 14, 18, 23, 10]
Length: 19, dtype: Int64

In [56]:
convert_to_nan('V_YEAR', ['UUUU']) # vehicle year
convert_to_int('V_YEAR')
df.V_YEAR.unique()

<IntegerArray>
[2000, <NA>, 2001, 2003, 2004, 1994, 1989, 1995, 1997, 2002,
 ...
 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Length: 113, dtype: Int64

In [63]:
convert_to_nan('P_ID', ['UU', 'NN']) # person sequence number
convert_to_int('P_ID')
df.P_ID.unique()

<IntegerArray>
[   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,   13,
   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,   25,   26,
   27,   28,   29,   30,   31,   32,   33,   34,   35,   36,   37,   38,   39,
   40,   41, <NA>,   42,   43,   44,   45,   46,   47,   48,   49,   50,   51,
   52,   53,   54,   55,   56,   57,   58,   59,   60,   99,   61,   62,   63,
   64,   65,   66,   67,   68,   69,   70,   71,   72,   73,   74,   75,   76,
   77,   78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
   90,   91,   92,   93,    0]
Length: 96, dtype: Int64

In [62]:
convert_to_nan('P_SEX', ['N', 'U']) # sex
df.P_SEX.unique()

array(['M', 'F', <NA>], dtype=object)

In [65]:
convert_to_nan('P_AGE', ['UU', 'NN']) # age
convert_to_int('P_AGE')
df.P_AGE.unique()

<IntegerArray>
[  15,   16,   19,   24,    3,   41,   45,   33,   58,   54,   32,   74, <NA>,
   57,   40,   31,   60,   23,   56,   47,   25,   53,   59,   84,   82,   61,
   68,   55,   29,   44,   52,   28,    8,   75,   50,   48,   27,   94,   22,
   76,   20,   21,   42,    4,   77,   49,   18,   38,   11,   46,   17,   81,
   26,   30,   39,   10,    5,   43,   72,   35,   71,   37,   83,   86,   73,
   36,   34,   65,   62,   70,   66,   64,   63,   95,   69,   79,   80,    7,
    1,    2,   14,   13,   12,   51,   92,   67,    6,   87,   78,   91,    9,
   88,   85,   89,   90,   98,   96,   93,   97,   99]
Length: 100, dtype: Int64

In [67]:
convert_to_nan('P_PSN', ['UU', 'NN', 'QQ']) # person's position
convert_to_int('P_PSN')
df.P_PSN.unique()

<IntegerArray>
[12, 11, 22, 13, 98, 21, 99, 23, <NA>, 96, 32, 31, 33, 97]
Length: 14, dtype: Int64

In [69]:
convert_to_nan('P_ISEV', ['U', 'N']) # injury severity
convert_to_int('P_ISEV')
df.P_ISEV.unique()

<IntegerArray>
[2, 1, <NA>, 3]
Length: 4, dtype: Int64

In [72]:
convert_to_nan('P_SAFE', ['UU', 'NN', 'QQ']) # safety precautions taken
convert_to_int('P_SAFE')
df.P_SAFE.unique()

<IntegerArray>
[13, <NA>, 1, 2, 12, 9, 10, 11]
Length: 8, dtype: Int64

In [74]:
convert_to_nan('P_USER', ['U']) # road user class
convert_to_int('P_USER')
df.P_USER.unique()

<IntegerArray>
[<NA>, 1, 2, 3, 4, 5]
Length: 6, dtype: Int64

In [75]:
df.dtypes

C_YEAR     int64
C_MNTH     Int64
C_WDAY     Int64
C_HOUR     Int64
C_SEV      int64
C_VEHS     Int64
C_CONF     Int64
C_RCFG     Int64
C_WTHR     Int64
C_RSUR     Int64
C_RALN     Int64
C_TRAF     Int64
V_ID       Int64
V_TYPE     Int64
V_YEAR     Int64
P_ID       Int64
P_SEX     object
P_AGE      Int64
P_PSN      Int64
P_ISEV     Int64
P_SAFE     Int64
P_USER     Int64
C_CASE     int64
dtype: object

In [ ]:
df.to_csv('data/cleaned_data.csv', index=False)